<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Serverless Starter</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
</head>

<body>
	<div class="container">
		This is the frontend.
	</div>
	<div id="input">
  		<form action="/boom" method="post">
  			<input type="text" id="emoji" style='font-size: 450px;' name="emoji" value="&#x1F525;" maxlength="1" size="1"><br>
  			<input type="submit" value="Submit">
		</form> 

	</div>
</body>
</html>